---
import FrequentBox from '../SearchEngine/FrequentBox.astro';
import { showSuggestions } from '../landing/SearchEngine/autocomplete.js';
import { parseKeywords } from '../SearchEngine/searchfilter.js';
---
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Aligns items to the bottom */
        align-items: center;
        height: 50vh;
        width: 100vw;
        /* border: 2px solid #ccc;*/
        /* padding: 20px;*/
        /* background-color: #fff; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; /* Adds space at the bottom */
    }
    .search-bar {
        display: flex;
        align-items: center;
        width: 300px;
        margin-bottom: 20px;
        position: relative;
    }
    .search-bar input[type="text"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px; /* Rounded corners for the input */
    }
    .search-bar button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 0; /* Rounded corners for the button */
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
    .search-bar button:hover {
        background-color: #0056b3;
    }
    .autocomplete-list {
        position: absolute;
        
        left: 50%; /* Centers the list horizontally */
        transform: translateX(-50%); 
        top: 22%; /* Ensures it appears directly below the input */
        
        width: 75%; /* Makes the list align with the width of the input */
        background-color: #ffffffdc;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    .autocomplete-item {
        padding: 10px;
        cursor: pointer;

    }
    .autocomplete-item:hover {
        background-color: #665151;
    }


      .search-container {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 8px 16px;
        border-radius: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        width: 100%;
      }

      .search-container__left-sec {
        display: flex;
        align-items: center;
        background-color: #f8f9fa;
        border-radius: 24px;
        padding: 8px 16px;
        width: 100%;
      }

      .search-container__left-sec--srch-icon {
        color: #9e9e9e;
        font-size: 20px;
      }

      #inp--searchbox {
        width: 100%;
        height: 36px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        padding-left: 8px;
        color: #202124;
      }

      .search-container__right-sec {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }

      .search-container__right-sec span {
        color: #9e9e9e;
        font-size: 20px;
        cursor: pointer;
        margin-left: 10px;
      }

      .search-container__right-sec span:hover {
        color: #5f6368;
      }

</style>

<body>
    <div class="search-container">
        <div class="search-container__left-sec">
          <span class="material-icons search-container__left"></span>
          <input
            type="search"
            name="search"
            id="inp--searchbox"
            autocomplete="on"
            placeholder="Search..."
            oninput="showSuggestions(this.value)"
          />
          <div class="search-container__right-sec">
            <button class="material-icons" id='searchbutton' onclick="executeSearch()">search</button>
            
          </div>
        </div>


        <div>
            <FrequentBox />
        </div>

    </div>

    <div id="autocompleteList" class="autocomplete-list"></div>

    <!--
    <div class="search-container">
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search..." oninput="showSuggestions(this.value)">
            
            <button id='searchbutton' onclick="executeSearch()">Search</button>
            <div id="autocompleteList" class="autocomplete-list"></div>
        </div>
        <div>
            <FrequentBox />
        </div>
    </div>
    -->
    
    <script>
        import { parseKeywords } from '../SearchEngine/searchfilter.js';
        import { searchterms } from '../SearchEngine/searchs.js';
        const items = searchterms;

        function showSuggestions(query) {
    const autocompleteList = document.getElementById('autocompleteList');
    autocompleteList.innerHTML = '';

    if (query.length === 0) {
        return;
    }

    console.log('Hello, this is a message from the console!');
    console.log('this is the query ', query);
    console.log('this is the items ', items);

    // Filter suggestions based on the query
    const suggestions = items.filter(item => item.toLowerCase().includes(query.toLowerCase()));

    // Limit the suggestions to 6 results
    const limitedSuggestions = suggestions.slice(0, 6);

    // Loop through the limited suggestions and display them
    limitedSuggestions.forEach(suggestion => {
        const item = document.createElement('div');
        item.className = 'autocomplete-item';
        item.textContent = suggestion;

        item.onclick = () => {
            const searchInput = document.getElementById('inp--searchbox');
            if (searchInput instanceof HTMLInputElement) {
                searchInput.value = suggestion;
            }
            autocompleteList.innerHTML = ''; // Clear the suggestions after selection
        };

        autocompleteList.appendChild(item);
    });
}

        function executeSearch() {
            const keywords = ["news", "genesis", "stock", "company", "other", "articles", "reddit"];
            const basePath = import.meta.env.PROD ? '/Genesis/' : '/';
            console.log('Ran Search!');
            
            const searchInput = document.getElementById('inp--searchbox');
            
            // Ensure searchInput is a valid HTMLInputElement
            if (!(searchInput instanceof HTMLInputElement)) {
                console.error("Search input is not a valid HTML input element.");
                return;
            }

            const query = searchInput.value;
            
            // Calling parseKeywords with the value of the input field
            var keyLog = parseKeywords(query, keywords);
            console.log('This is the keyLog:', keyLog);
            
            if (keyLog != '') {
        switch (true) {
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")) && keyLog.includes("stock") && keyLog.includes("company") && keyLog.includes("reddit") && keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section1=show&section2=show&section3=show&section4=show&section5=show&section6=show`;
                break;
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")) && keyLog.includes("stock") && keyLog.includes("company") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section2=show&section3=show&section4=show&section5=show`;
                break;
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")) && keyLog.includes("stock") && keyLog.includes("company"):
                window.location.href = `${basePath}searchresult?section1=show&section2=show&section3=show&section4=show`;
                break;
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")) && keyLog.includes("stock"):
                window.location.href = `${basePath}searchresult?section1=show&section2=show&section3=show`;
                break;
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")):
                window.location.href = `${basePath}searchresult?section1=show&section2=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("stock"):
                window.location.href = `${basePath}searchresult?section1=show&section3=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("company"):
                window.location.href = `${basePath}searchresult?section1=show&section4=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section5=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section1=show&section6=show`;
                break;
            case keyLog.includes("genesis") && (keyLog.includes("news") || keyLog.includes("articles")) && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section2=show&section5=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("stock") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section3=show&section5=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("company") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section4=show&section5=show`;
                break;
            case keyLog.includes("genesis") && keyLog.includes("other") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section1=show&section6=show&section5=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("company") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section3=show&section4=show&section5=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("company") && keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section3=show&section4=show&section6=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("company") && (keyLog.includes("news") || keyLog.includes("articles")):
                window.location.href = `${basePath}searchresult?section3=show&section4=show&section2=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("other") && (keyLog.includes("news") || keyLog.includes("articles")):
                window.location.href = `${basePath}searchresult?section3=show&section6=show&section2=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("company"):
                window.location.href = `${basePath}searchresult?section3=show&section4=show`;
                break;
            case keyLog.includes("stock") && keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section3=show&section6=show`;
                break;
            case keyLog.includes("stock") && (keyLog.includes("news") || keyLog.includes("articles")):
                window.location.href = `${basePath}searchresult?section3=show&section2=show`;
                break;
            case keyLog.includes("company") && (keyLog.includes("news") || keyLog.includes("articles")):
                window.location.href = `${basePath}searchresult?section4=show&section2=show`;
                break;
            case keyLog.includes("company") && keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section4=show&section5=show`;
                break;
            case keyLog.includes("company") && keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section4=show&section6=show`;
                break;
            case keyLog.includes("genesis"):
                window.location.href = `${basePath}searchresult?section1=show`;
                break;
            case keyLog.includes("stock"):
                window.location.href = `${basePath}searchresult?section3=show`;
                break;
            case keyLog.includes("company"):
                window.location.href = `${basePath}searchresult?section4=show`;
                break;
            case keyLog.includes("other"):
                window.location.href = `${basePath}searchresult?section6=show`;
                break;
            case keyLog.includes("reddit"):
                window.location.href = `${basePath}searchresult?section5=show`;
                break;
            case keyLog.includes("news") || keyLog.includes("articles"):
                window.location.href = `${basePath}searchresult?section2=show`;
                break;
            default:
                window.location.href = `${basePath}searchresult?section7=show`;
                break;
        }
    }

}




        document.addEventListener('DOMContentLoaded', () => {
            // Ensure showSuggestions runs when the input is focused
            document.getElementById('inp--searchbox').addEventListener('focus', (event) => {
                const target = event.target;
                if (target instanceof HTMLInputElement) {
                    showSuggestions(target.value);
                }
            });
        });

        
        document.addEventListener('DOMContentLoaded', () => {
            const searchButton = document.getElementById('searchbutton');
            searchButton.addEventListener('click', executeSearch);
        });

        
        document.getElementById('inp--searchbox').addEventListener('input', (event) => {
            const inputElement = event.target;
            const value = inputElement.value;
            console.log(`You typed: ${value}`);
            showSuggestions(value);

        });
        

        // Event listener for input changes
        document.getElementById('inp--searchbox').addEventListener('input', (event) => {
            showSuggestions(event.target.value);
        });

        
        const searchInput = document.getElementById('inp--searchbox');
        searchInput.addEventListener('input', (event) => {
            const inputElement = event.target;
            const value = inputElement.value;
            console.log(`You typed: ${value}`);
            showSuggestions(value);
        });

        // Add event listener for Enter key
        searchInput.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default form submission behavior
                executeSearch();
            }
        });


    </script>

</body>

